[Unit]
Description=heimdalld-rest-server
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
WorkingDirectory={{ polygon_node_home }}
ExecStart={{ polygon_user_home }}/bin/heimdalld rest-server --home {{ polygon_node_home }}/heimdall
Type=simple

[Install]
WantedBy=default.target